---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Feud</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
</head>
<body class="bg-light-green">

    <audio id="error1">
        <source src="{{ '/assets/wrong.mp3' | relative_url }}" type="audio/mpeg" />
        <source src="{{ '/assets/wrong.ogg' | relative_url }}" type="audio/ogg; codecs=vorbis" />
    </audio>
    <audio id="applause">
        <source src="{{ '/assets/applause.mp3' | relative_url }}" type="audio/mpeg" />
        <source src="{{ '/assets/applause.ogg' | relative_url }}" type="audio/ogg; codecs=vorbis" />
    </audio>

    <div class="flex items-center justify-center">
        <a class="bg-yellow br4 mw5 ma2 pa5 tc f2 helvetica" onClick="document.getElementById('error1').play()">Wrong Answer!</a>
        <a class="bg-yellow br4 mw5 ma2 pa5 tc f2 helvetica" onClick="document.getElementById('applause').play()">Right Answer!</a>
    </div>

    <div class="flex items-center justify-center">
        <iframe width="426" height="240" src="https://www.youtube.com/embed/GGEodnvSzjE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

</body>
</html>